html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.upper {
    height: 40%;
    background-color: #2b2b2b;
    position: relative;
}

.bottom {
    height: 60%;
    background-color: #d8d8d8;
}

.column {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 10px solid white;
    width:79.5%;
    height:84.2%;
    border-radius: 15%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

iframe{
    display:block;
   position: absolute;  
   width: 100%; 
   height: 100%; 
   margin-top:-0.1rem;
   margin-left:-0.05rem;
}