.tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  
  .area-tooltip {
    position: relative;
  }
  
  .area-tooltip:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  